.wrap-contact {
	width: 100%;
	background-color: black;
	background-image: url("..//pics/bg/bg-contact.png");
	opacity: 0.9;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 30px;
}
.title_contact {
	position: relative;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	padding: 50px 0 0;
}

.title_contact,
.contact_text,
.line_form,
.email,
.phone,
.skype,
.your_message {
	color: white;
}

.container {
	max-width:  950px;
	margin: 0 auto;
}

.contact_form {
	float: left;
	width: 430px;
	padding: 50px 0;
}

.contacts {
	float: right;
	width: 450px;
	padding: 50px 0;
}

.contacts a {
	color:  #fff;
}

.line_form,
.your_message {
	width: 100%;
	padding: 5px;
	margin: 10px 0;
	color: white;
	font-size: 14px;
	background: black;
	opacity: 0.9;
	border: 1px solid #e74800;
}
.line_form {
	height: 30px;
}

.your_message {
	height: 200px;
}

.send_button {
	width: 158px;
	height: 44px;
	background: #e74800;
	font-size: 18px;
	color: white;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 5px;
	border:  none;
}
.contact_text {
	line-height: 20px;
}

.contacts p {
	margin: 10px 0;
}

.email,
.phone,
.skype {
	padding: 18px;
}
 

.email:hover a,
.phone:hover a,
.skype:hover a{
	color: #e74800;
}

.wtext {
	color: #FFF;
}

/* .contact_details-text {
	display: inline-block;
	vertical-align: middle
}

.contact_details-container {
	width: 45px;
	margin: 10px 10px 0 0;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
} */

.email::before {
	content: url('..//pics/email.png');
	position: relative;
	top: 7px;
	right: 18px;
}
.phone::before {
	content: url('..//pics/phone.png');
	padding: 5px;
	position: relative;
	top: 12px;
	right: 17px;
}
.skype::before {
	content: url('..//pics/skype.png');
	padding: 5px;
	position: relative;
	top: 8px;
	right: 18px;
}
.title_contact::after {
	top: 100%;
	content: url('..//pics/rectangle-2-copy-5.png');
}
.clearfix::after, 
.wrap-contact::after,
.container::after {
    content: '';
    clear: both;
    display: table;
    overflow: hidden;
}


