/*Services*/

.sectionServices {
	background: #f8f8f8;
}

.containerServices {
	padding-top: 20px;
	max-width: 790px; 
	min-width: 210px;
	margin: 0 auto;
	text-align: center;
}

.headerServices {
}

/*.header::after {
    left: 47.3%;
}*/

.header::after {
	display: none;
}

.sectionServices hr {
	border: none;
	color: #d55727;
	background-color: #d55727;
	width: 42px;
	height: 2px;
	margin: 0 auto;
}

.servicesList {
	margin: 0 auto; 
	padding-top: 30px; 
	padding-bottom: 110px;
	text-align: justify;
}

.servicesList:after {
  display: inline-block;
  content: "";
  width: 100%;
}

.servicesItem {
	min-width: 160px;
	padding-top: 35px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.servicesItem__icon{
	width: 64px; 
	height: 64px;
	background-image: url('../pics/services/services-icon-graphic-design.png');
	background-color: #d55727;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%; 
	margin: 0 auto;
}

.servicesItem:nth-child(1) .servicesItem__icon {
	background-image: url('../pics/services/services-icon-web-design.png');
}

.servicesItem:nth-child(3) .servicesItem__icon {
	background-image: url('../pics/services/services-icon-illustration.png');
}


.servicesItem span {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	white-space: nowrap; 
	padding-top: 35px; 
	display: block;
}

/*CV*/
.containerCV {
	/*max-width: 1200px;*/
	height: 437px;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("..//pics/cv/cv-bg.jpg") center center no-repeat; 
	background-size: cover; 
}

.CV__years {
	max-width: 1200px;
	height: 437px;
	background: url("..//pics/cv/cv-img-years.png") center center no-repeat; 
	margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}