<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="..//css/contact.css">
    
</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="title_contact">
                <h2>Contact</h2></div>
            <div class="contact_form">
               <form action="send" method="post">
               	<p>
               		<input type="text" class="line_form" placeholder="Your Name">
               	</p>
               	<br>
               	<p>
               		<input type="email" class="line_form" placeholder="Your Email">
               	</p>
               	<br>
               	<p>
               		<textarea type="text" class="your_message" rows="9" placeholder="Your Message"></textarea>
               	</p>
               	<br>
               	<button class="send_button">SEND</button>
               </form>
            </div>
            <div class="contacts">
                <p class="contact_text">Leonardo was, and is, renowned primarily as a painter. Among his works, the Mona Lisa is the most famous and most parodied portrait and The Last Supper the most reproduced religious painting of all time, with their fame approached only by Michelangelo's The Creation of Adam Leonardo is revered for his technological ingenuity.</p>
                <p class="email">cheshirrrsky@gmail.com</p>
                <p class="phone">+38 096 095 00 62</p>
                <p class="skype">cheshirrrsky</p>
            </div>
        </div>
    </div>
    </div>
</body>

</html>