<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="..//css/reset.css">
	<link rel="stylesheet" href="..//css/header.css">
	<title>Cheshirskaya by our group</title>
</head>
<body>
	<div class="section section-header">
		<button class="arrow-down">
			<img src="icons/arrow.png" alt="arrow-down">
		</button>
		<figure class="main-logo">
			<img src="bg/smile.png" alt="cheshirskaya logo">
		</figure>
		<button class="triangle-down">
			<img src="icons/triangle.png" alt="triangle-down">
		</button>
	</div>
	<div class="section section-mainmenu">
			<ul class="container-menu">
				<li class="main-menu-item">about me</li>
				<li class="main-menu-item">services</li>
				<li class="main-menu-item">portfolio</li>
				<li class="main-menu-item">clients</li>
				<li class="main-menu-item">contact</li>
			</ul>
	</div>
	<div class="section section-aboutme">
		<h2 class="aboutme-title">about me</h2>
		<img src="icons/red-line.png" alt="red-line">
		<br>
		<div class="container-aboutme">
			<p class="aboutme-txt">
				Leonardo da Vinci  was an Italian Renaissance polymath: painter, sculptor, architect, musician, mathematician, engineer, inventor, anatomist, geologist, cartographer, botanist, and writer. His genius, perhaps more than that of any other figure, epitomized the Renaissance humanist ideal.
			<br><br>
				Leonardo has often been described as the archetype of the Renaissance Man.
			</p>
			<img src="bg/aboutme_main.png" alt="girl" class="girl aboutme-img-main">
		</div>
	</div>
</body>
</html>