<!doctype html>
<html lang="en">

<head>
    <title>Portfolio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="..//css/reset.css">
    <link rel="stylesheet" href="..//css/portfolio.css">
</head>

<body class="">
    <div class="section section-portfolio">
        <div class="header">
            <h2 class="header-portfolio">Portfolio</h2>
        </div>
        <div class="thumbnails">
            <div class="row">
                <figure class="portfolio-img-container">
                    <figure class="image-1"></figure>     
                </figure>
                <figure class="portfolio-img-container">
                    <figure class="image-2"></figure>     
                </figure>
                <figure class="portfolio-img-container">
                    <figure class="image-3"></figure>     
                </figure>
                
 
            </div>
            <div class="row">
                <figure class="portfolio-img-container">
                    <figure class="image-4"></figure>     
                </figure>
                <figure class="portfolio-img-container">
                    <figure class="image-5"></figure>     
                </figure>
                <figure class="portfolio-img-container">
                    <figure class="image-6"></figure>     
                </figure>
            </div>
        </div>
    </div>
    <div class="section section-clients">
        <div class="header">
            <h2 class="header-clients">Clients</h2>
        </div>
        <div class="container-clients">
             <div class="client-logos">
            <div class="row">
                <figure class="client-logo-container">
                    <img src="..//img/logos/logo-hallmark.png" alt="">
                </figure>
                <figure class="client-logo-container">
                    <img src="..//img/logos/logo-Forex.png" alt="">
                    
                </figure>
                <figure class="client-logo-container">
                    <img src="..//img/logos/logo-nasa.png" alt="">
                </figure>
                
                
            </div>
            <div class="row">
                <figure class="client-logo-container">
                    <img src="..//img/logos/logo-timotei.png" alt="">
                </figure>
                <figure class="client-logo-container">
                    <img src="..//img/logos/logo-milka.png" alt="">
                    
                </figure>
                <figure class="client-logo-container">
                    <img src="..//img/logos/logo-microsoft.png" alt="">
                </figure>
            </div>
        </div>
            
        </div>
       
    </div>
</body>

</html>