<!-- Services -->
<section class="sectionServices">
<div class="containerServices">
    <h2 class="header headerServices">Services</h2>
    <hr>
    <ul class="servicesList" >
        <li class="servicesItem">
            <div class="servicesItem__icon"></div>
            <span>Web design</span>
        </li>  
        <li class="servicesItem">
            <div class="servicesItem__icon"></div>
            <span>Graphic design</span>
        </li>
        <li class="servicesItem">
            <div class="servicesItem__icon"></div>
            <span>Illustration</span>
        </li>              
    </ul>
</div>
</section>
<!-- CV -->
<section class="sectionCV">
<div class="containerCV">
    <div class="CV__years"></div>
</div>
</section>